:root {
  --gold: #f14510;
  --light-gold: #f3d592;
  --black: #26282;
  --black-1: #35383f;
  --grey: #777b82;
  --white: #fff;
  --box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*components*/
.container {
  max-width: 90%;
  margin: 0 auto;
  padding: 1rem;
  color: white;
}

/*navbar*/
nav {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  box-shadow: var(--box-shadow);
}

.hamburger {
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  transition: all ease 0.5s;
}

.hamburger:hover {
  color: var(--gold);
  cursor: pointer;
}

.brand-name {
  font-size: 20px;
  padding: 5px;
}

.brand-name span {
  color: var(--gold);
}

.nav-links {
  width: 100%;
  background-color: var(--black-1);
  position: absolute;
  top: 60px;
  z-index: 1;
  transition: all ease 0.5s;
}

.nav-links ul {
  list-style: none;
  padding: 1rem;
}

.nav-links li {
  text-align: center;
  padding: 1rem;
  transition: all ease 0.5s;
}

.nav-links li:hover {
  background-color: var(--grey);
}

.nav-links a {
  text-decoration: none;
  font-size: 18px;
  color: white;
}

.expanded {
  display: none;
}

/*search bar*/
input[type='search'] {
  margin: 20px 0;
  padding: 15px;
  width: 90%;
  border: none;
  outline: none;
  background-color: var(--black-1);
  border-radius: 20px;
  color: #ffffff;
}

input[type='search']::placeholder {
  color: #ffffff;
}

input[type='button'] {
  width: 60px;
  height: 60px;
  margin: 20px 0;
  padding: 15px;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*carouesl*/
.carousel-wrapper {
  width: 100%;
  overflow: hidden;
  margin-top: 10px;
}

.carousel-navigation {
  position: relative;
  left: 70%;
  top: 5px;
  bottom: 5px;
  margin: 10px;
  display: flex;
}

.carousel-navigation button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  transition: transform ease 0.5s;
}

.carousel-items {
  display: flex;
  gap: 5px;
  transition: transform ease 0.5s;
}

.carousel-item {
  text-align: justify;
  flex-shrink: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.carousel-item img {
  border-radius: 10px;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.carousel-item p {
  width: 100%
}

.carousel-item button {
  width: 100%;
}

/*pagination*/
.pagination {
  margin-top: 30px;
}

.pagination ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 5px;
}

.pagination li {
  padding: 5px;
  border: none;
  border-radius: 5px;
  list-style: none;
}

.pagination li a {
  text-decoration: none;
  color: var(--gold);
}

.pagination li a:hover {
  font-size: 20px;

}

.current-records {
  margin-top: 1rem;
  display: grid;
  place-items: center;
  gap: 10px;
  grid-template-columns: auto;
}

.current-records div {
  position: relative;
}

.current-records img {
  min-width: 250px;
  width: 100%;
  height: auto;
  min-height: 200px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}

.current-records div section {
  color: white;
  position: absolute;
  left: 10px;
  bottom: 20px;
}

/*button*/
button {
  background-color: var(--gold);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 15px;
  width: inherit;
}

button:hover {
  background-color: var(--white);
  color: var(--gold);
  border: 1px solid var(--gold);
  transition: all ease 0.5s;
}

/*loading spinner*/
.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader {
  width: 50px;
  height: 50px;
  border: 7px solid var(--gold);
  border-radius: 50%;
  border-top: #f14510;
  border-bottom: #f14510;
  animation: spinner 1.5s linear infinite;
}

/*error boundary*/
.error-boundary {
  background-color: red;
  color: white;
  text-align: center;
  padding: 1rem;
  border-radius: 10px;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*pages*/
/*home*/
.home {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/*search page*/
.genres-css {
  margin-top: 2rem;
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  justify-content: space-between;
}

.genres-css section {
  position: relative;
  width: 100%;
  transition: all ease 0.5s;
}

.genres-css section:hover {
  transform: scale(1);
  cursor: pointer;
  text-decoration: underline;
}

.genres-css img {
  min-width: 100%;
  min-height: 200px;
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.genres-css p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: white;
}

.top-result article {
  margin-top: 10px;
}

.top-result article div {
  margin-top: 10px;
  padding: 5px;
  display: flex;
  gap: 15px;
  transition: all ease 0.5s;
}

.top-result div:hover {
  background-color: var(--grey);
  border-radius: 10px;
  cursor: pointer;
}

.top-result img {
  border-radius: 10px;
  width: 40%;
  height: auto;
  object-fit: cover;
}

.top-result p {
  height: inherit;
  text-align: center;
  display: flex;
  align-items: center;
}

/*details page*/
.details {
  display: flex;
  flex-direction: column;
}

.details img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
}

.details .title {
  padding: 1rem;
}

.details .title h4 {
  color: var(--gold);
  font-size: 30px;
}

.details .title div {
  display: flex;
  justify-content: space-between;
}

.details .genres {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
}

.release-date h5,
.genre h5 {
  font-size: 20px;
  font-weight: bold;
}

.genre li {
  list-style: none;
  display: inline;
  padding: 5px;
}

.synopsis {
  padding: 2rem 0;
}

.synopsis h5 {
  font-weight: bold;
  font-size: 20px;
}

@media screen and (min-width:42em) {
  .hamburger {
    display: none;
  }

  .nav-links {
    width: 50%;
    background-color: transparent;
    position: relative;
    top: 0;
  }

  .nav-links li {
    display: inline-block;
  }

  .expanded {
    display: block;
  }


  .carousel-item {
    flex-direction: row;
  }

  .carousel-item button {
    width: 50%
  }

  .carousel-item img {
    border-radius: 10px;
    width: 20%;
    height: auto;
    object-fit: cover;
  }

  .carousel-item p {
    width: 60%
  }

  .current-records {
    grid-template-columns: auto auto;
  }

  .genres-css section {
    width: 33.33%;
  }

  .top-result img {
    width: 25%;
  }
}

@media screen and (min-width:60em) {
  .nav-links {
    width: 35%;
  }

  .current-records {
    grid-template-columns: auto auto auto;
  }

  .details .details-img {
    object-fit: cover;
    height: 70vh;
  }

  .genres-css section {
    width: 20%
  }
}